.popup__close {
  width: 48px;
  height: 48px;
  background-image: url(../../../images/closeIcon.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;

}

@media screen and (max-width: 540px) {
  .popup__close {
    top: -44px;
    right: -10px;
  }
}
